.Scene{
    width: 900px;
    height: 400px;
    margin: auto;
    background-image: url(../components/images/Background.jpeg);
    background-size: 900px 400px;
}

.guy{
    width: 150px;
    height: auto;
    position: relative;
    top: 185px;
    left: 1%;
}

.ghost{
    width: 130px;
    height: auto;
    position: relative;
    top: 35px;
    left: 85%;
    animation: move 5s infinite linear;
}


@keyframes move {
    0% {
      left: 150%x;
    }
  
    100% {
      left: -20%;
    }
  }